<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @post %>
    <% if current_user == @post.try(:user) %>
      <%= link_to t('home.buttons.edit'), edit_post_path(@post), class: " text-white mt-2 rounded-lg px-5 py-2.5 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300  inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to t('home.buttons.destroy'), post_path(@post), method: :delete, class: " inline-flex items-center text-center rounded-lg px-5 py-2.5 bg-red-600 text-white inline-block font-medium cursor-pointer hover:bg-red-700 focus:ring-4"%>
      </div>

      <%= link_to t('home.buttons.back'), root_path, class: "ml-2 rounded-lg px-5 py-2.5 bg-gray-200 inline-block font-medium" %>
    <% end %>

    <div class="p-2">
      <%= render 'comments/form', post: @post, comment: @post.comments.build %>
      <% @comments.each do |comment| %>
        <%= render 'comments/comment', post: @post, comment: comment %>
      <% end %>
    </div>
  </div>
</div>
