<!DOCTYPE html>
<html>
  <head>
    <title>MaiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render  "layouts/components/header" %>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <%= render 'layouts/components/alerts' %>
        <%= yield %>
      </div>
    </main>
    <%= render  "layouts/components/footer" %>
  </body>
</html>
